<!doctype html>
<html ng-app="app">
	<head>
		<title>AngularJS Advanced Select</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<link rel="stylesheet" type="text/css" href="../css/advanced_select.css" />
		<link rel="stylesheet" type="text/css" href="index.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script type="text/javascript" src="../advanced_select.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</head>
	<body ng-controller="index">
		<div>
			<label for="languages0">Initial Select :</label>
			<select id="languages0" ng-model="language.id" 
			        ng-options="language.id as language.name for language in languages"
			        class="languages">
			</select>
		</div>
		<div>
			<label for="languages1">Advanced Select : </label>
			<select id="languages1" ng-model="language.id" 
		        ng-options="language.id as language.name for language in languages"
		        class="languages"
		        advanced-select="">
			</select>
		</div>

		<hr />
		
		<div>
			<label for="numbers">Initial Select :</label>
			<select id="numbers" 
			        ng-model="number" 
			        ng-options="number for number in numbers"
			        class="numbers">
			</select>
		</div>
		<div>
			<label for="numbers1">Advanced Select : </label>
			<select id="numbers1"
			        ng-model="number" 
			        ng-options="number for number in numbers"
			        class="numbers"
		        advanced-select="">
			</select>
		</div>
	</body>
</html>