<div class="advanced-select-container" 
     ng-class="{ 'advanced-select-dropdown-open': dropDownOpen, 'disabled': disabled }">
	<a href="javascript:void(0)" ng-click="dropDownOpen=(!disabled && !dropDownOpen)" class="advanced-select-choice" tabindex="tabIndex">
		<span ng-bind="selected.label || placeholder" ng-class="{ 'placeholder': selected == null }"></span>
			<abbr class="advanced-select-search-choice-close" style="display: none;"></abbr>
			<div class="arrow"><b></b></div>
	</a>
	<div class="advanced-select-drop" ng-show="dropDownOpen">
		<div class="search">
			<input type="text" ng-model="search" autocomplete="off" class="advanced-select-input" tabindex="-1" />
		</div>
		<ul class="results">
			<li class="advanced-select-result advanced-select-result-selectable" ng-repeat="item in options | filter:search"  ng-class="{ 'with-children': item.children.length > 0 }">
				<div advanced-select-item 
				     class="label" 
				     ng-bind="item.label" 
				     ng-class="{ 'advanced-select-highlighted': item.highlighted == true }" 
				     ng-click="select(item, true, true)" 
				     ng-mouseover="highlight(item, this)">
				</div> 
				<ul>
					<li class="advanced-select-result" ng-repeat="sub in item.children"  ng-class="{ 'advanced-select-highlighted': sub.highlighted == true }">
						<div class="label" 
						     ng-bind="sub.label" 
						     ng-click="select(sub, true, true)" 
						     ng-class="{ 'advanced-select-highlighted': sub.highlighted == true }" 
						     ng-mouseover="highlight(sub)">
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>